@model MVC_Project.Models.AttendanceSummary

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AttendanceSummary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ComId" />
            <input type="hidden" asp-for="EmpId" />
            <input type="hidden" asp-for="dtYear" />
            <input type="hidden" asp-for="dtMonth" />
            <div class="form-group">
                <label asp-for="MonthDays" class="control-label"></label>
                <input asp-for="MonthDays" class="form-control" />
                <span asp-validation-for="MonthDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Present" class="control-label"></label>
                <input asp-for="Present" class="form-control" />
                <span asp-validation-for="Present" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Late" class="control-label"></label>
                <input asp-for="Late" class="form-control" />
                <span asp-validation-for="Late" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absent" class="control-label"></label>
                <input asp-for="Absent" class="form-control" />
                <span asp-validation-for="Absent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holiday" class="control-label"></label>
                <input asp-for="Holiday" class="form-control" />
                <span asp-validation-for="Holiday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
